# you may add more than the 'default' mini_snmpd instances provided they all bind to different ports/interfaces
# to get around max 4 interface or mountpoint limit constrained by mini_snmpd's mib
config mini_snmpd 'default'
	option enabled 1
	option ipv6 0
	option debug 0
	option auth 0
	option community 'public'
	option contact 'Big Boss'
	option location 'World'
	option listen_interface 'lan'
	#option udp_port '161'
	#option tcp_port '161'
	#option vendor_oid ''
	option mib_timeout 1
	list disks '/overlay'
	list disks '/tmp'
	list interfaces 'lan'
	list interfaces 'wan'
