
config uvpn_client 'server'
        option host 'my.server.net'
        option port '5001'
        option user 'cam_XXX'
        option password 'mypass'
        option enable '1'

config uvpn_client 'device'
        option description 'Location, OpenIPC, Board Name, hi351xxxx + sensor, WiFi'
        option network 'network_1'
        option ip '192.168.2.111'
        option mtu '1500'

config uvpn_client 'keepalive'
        option idle '30'
        option interval '30'
        option count '10'

config uvpn_client 'log'
        option level '3'
        option syslog '1'
