
config mjpg-streamer 'core'
	option enabled '1'
	option input 'uvc'
	option output 'http'
	option device '/dev/video0'
	option resolution '640x480'
	option yuv '1'
	option quality '80'
	option fps '30'
	option led 'auto'
	option www '/www/webcam'
	option port '8080'
	option username 'openwrt'
	option password 'openwrt'
